@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">VSC Demo Data Links</h1>
    <p>Demonstrates the management of data using the VSC ASP.NET Core resources <b>Data Link</b> processing and RCL.</p>
</div>
